svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: darkorange;
}

.bar:hover {
  fill: greenyellow;
}

div.tooltip {
  position: absolute;
  text-align: right;
  height: 1rem;
  padding: 4px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid lightgray;
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis text {
  font: 12px sans-serif;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}

.resize {
  display: inline !important; /* show when empty */
  fill: #7a7a7a;
  fill-opacity: 1;
  stroke: #7a7a7a;
  stroke-width: 2px;
}

.clip-class {
  clip-path: url(#clip);
}
